<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户登录</title>
    <script type="text/javascript" src="./head.js"></script>
    <script type="text/javascript" src="./js/login.js"></script>
</head>
<body>
<div class="container" style="margin-top: 30px;" ng-app="userLogin" ng-controller="loginCtr">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" placeholder="请输入用户名" ng-model="userName">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="请输入密码" ng-model="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" ng-click="login()">登录</button>
                <button type="button" class="btn btn-default" ng-click="reset()">重置</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>